body{
    /* background-color: #20262E; */
    background-image: url(public/img/codigo01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* imagen estatica */
    background-attachment: fixed;
}
.presentacion{
    background-color: #00000021;
    backdrop-filter: blur(30px);
}
.card-lenguaje{
    background-color: #7353BA;
}